<body>
    <a href="/">Home</a> 
    <a href="/about">About me</a> 
    <a href="/hobbies">Hobbies</a>
    <h1>Who Am I</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Blanditiis quibusdam nihil sapiente veniam deleniti, 
        exercitationem aliquam dolorem autem nesciunt, dolore consectetur placeat. 
        Repellendus, mollitia quasi! Quis totam suscipit alias quam!</p>
</body>