<body>
    <a href="/">Home</a> 
    <a href="/about">About me</a> 
    <a href="/hobbies">Hobbies</a>
    <h1>My Hobbies</h1>
    <ul>
        <li>Cooking</li>
        <li>Drawing</li>
        <li>Ride a bike</li>
    </ul>
</body>